node_modules
**/node_modules
dist
.turbo
.git
.github
pnpm-store
*.log
apps/mobile/.expo
apps/mobile/build
coverage
/.cache
tmp
*.local
/.env
/.env.*
.DS_Store
apps/mobile/android
apps/mobile/ios
apps/mobile/dist
apps/mobile/.turbo
apps/mobile/.gradle
apps/mobile/web-build
